<center><h4><{$meteo.title}></center></h4><br>
<table width="22%" height="6%" border="0" align="center">
<tr>
<td width="35">
<div align="center"><a href="index.php?op=eu">
<img src="images/flags/europe.gif" width="32" height="20" border="0" alt="<{$meteo.europe}>"></a>
</div></td>
<td width="35" height="100%">
<div align="center"><a href="index.php?op=be">
<img src="images/flags/belgium.gif" width="32" height="20" border="0" alt="<{$meteo.belgium}>"></a>
</div></td>
<td width="35">
<div align="center"><a href="index.php?op=fr">
<img src="images/flags/france.gif" width="32" height="20" border="0" alt="<{$meteo.france}>"></a>
</div></td>
<td width="35">
<div align="center"><a href="index.php?op=it">
<img src="images/flags/italie.gif" width="32" height="20" border="0" alt="<{$meteo.italy}>"></a>
</div></td>
<td width="35">
<div align="center"><a href="index.php?op=es">
<img src="images/flags/espagne.gif" width="32" height="20" border="0" alt="<{$meteo.spain}>"></a>
</div></td>
<td width="35">
<div align="center"><a href="index.php?op=de">
<img src="images/flags/allemagne.gif" width="32" height="20" border="0" alt="<{$meteo.deutschy}>"></a>
</div></td>
<td width="35">
<div align="center"><a href="index.php?op=uk">
<img src="images/flags/england.gif" width="32" height="20" border="0" alt="<{$meteo.england}>"></a>
</div></td>
</tr>
</table>
<BR>
<table width="300" height="96" border="1" align="center">
<tr>
<td><div align="center">
<tr>
<td><div align="center"><strong><{$meteo.today_title}></strong></div><BR></td>
<td><div align="center"><strong><{$meteo.tomorrow_title}></strong></div><BR></td>
</tr>
<tr>
<td><div align="center">
<a href="http://www.meteoconsult.fr/image/<{$meteo.today_img}>" border="1" alt="<{$meteo.today}>" target="wclose" onclick="window.open('popup.htm', 'wclose', 'width=625, height=450, toolbar=no, status=no, left=0, top=0')">
<img src="http://www.meteoconsult.fr/image/<{$meteo.today_img}>" width="400" border="1" alt="<{$meteo.today}>">
</a>
<td><div align="center">
<a href="http://www.meteoconsult.fr/image/<{$meteo.tomorrow_img}>" border="1" alt="<{$meteo.tomorrow}>" target="wclose" onclick="window.open('popup.htm', 'wclose', 'width=625, height=450, toolbar=no, status=no, left=0, top=0')">
<img src="http://www.meteoconsult.fr/image/<{$meteo.tomorrow_img}>" width="400" border="1" alt="<{$meteo.tomorrow}>">
</a>
</tr>
</table>
<p align="right">Meteo v2.0.1 - Solo (<a href="http://www.wolfpackclan.com/" target="blank">Wolf Pack Clan</a>) (c) <a href="http://www.meteoconsult.fr/" target="blank">MeteoConsult</a></p>